/svcCallManagerCDRParser/App.config
/.vs/svcCallManagerCDRParser/v15/Server/sqlite3/db.lock
/.vs/svcCallManagerCDRParser/v15/Server/sqlite3/storage.ide
/.vs/svcCallManagerCDRParser/v15/Server/sqlite3/storage.ide-shm
/.vs/svcCallManagerCDRParser/v15/Server/sqlite3/storage.ide-wal
/svcCallManagerCDRParser/bin/Debug/svcCallManagerCDRParser.exe
/svcCallManagerCDRParser/bin/Debug/svcCallManagerCDRParser.exe.config
/svcCallManagerCDRParser/bin/Debug/svcCallManagerCDRParser.pdb
/svcCallManagerCDRParser/bin/Release/EntityFramework.SqlServer.xml
/svcCallManagerCDRParser/bin/Release/EntityFramework.xml
/svcCallManagerCDRParser/bin/Release/svcCallManagerCDRParser.exe
/svcCallManagerCDRParser/bin/Release/svcCallManagerCDRParser.exe.config
/svcCallManagerCDRParser/bin/Release/svcCallManagerCDRParser.pdb
/svcCallManagerCDRParser/obj/Debug/svcCallManagerCDRParser.exe
/svcCallManagerCDRParser/obj/Debug/svcCallManagerCDRParser.exe.config
/svcCallManagerCDRParser/obj/Debug/svcCallManagerCDRParser.pdb
/svcCallManagerCDRParser/obj/Release/svcCallManagerCDRParser.csproj.CoreCompileInputs.cache
/svcCallManagerCDRParser/obj/Release/svcCallManagerCDRParser.csproj.FileListAbsolute.txt
/svcCallManagerCDRParser/obj/Release/svcCallManagerCDRParser.csprojAssemblyReference.cache
/svcCallManagerCDRParser/obj/Release/svcCallManagerCDRParser.exe
/svcCallManagerCDRParser/obj/Release/svcCallManagerCDRParser.pdb
/svcCallManagerCDRParser/bin/Release/Microsoft.AspNetCore.Razor.Language.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.CSharp.Workspaces.pdb
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.CSharp.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.CSharp.pdb
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.Workspaces.Desktop.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.Workspaces.Desktop.pdb
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.Workspaces.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.Workspaces.pdb
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.CodeAnalysis.pdb
/svcCallManagerCDRParser/bin/Release/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.Extensions.DependencyInjection.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.VisualStudio.Web.CodeGeneration.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/svcCallManagerCDRParser/bin/Release/Microsoft.Win32.Primitives.dll
/svcCallManagerCDRParser/bin/Release/Newtonsoft.Json.dll
/svcCallManagerCDRParser/bin/Release/NuGet.Frameworks.dll
/svcCallManagerCDRParser/bin/Release/System.AppContext.dll
/svcCallManagerCDRParser/bin/Release/System.Collections.Concurrent.dll
/svcCallManagerCDRParser/bin/Release/System.Collections.Immutable.dll
/svcCallManagerCDRParser/bin/Release/System.Collections.NonGeneric.dll
/svcCallManagerCDRParser/bin/Release/System.Collections.Specialized.dll
/svcCallManagerCDRParser/bin/Release/System.Collections.dll
/svcCallManagerCDRParser/bin/Release/System.ComponentModel.EventBasedAsync.dll
/svcCallManagerCDRParser/bin/Release/System.ComponentModel.Primitives.dll
/svcCallManagerCDRParser/bin/Release/System.ComponentModel.TypeConverter.dll
/svcCallManagerCDRParser/bin/Release/System.ComponentModel.dll
/svcCallManagerCDRParser/bin/Release/System.Composition.AttributedModel.dll
/svcCallManagerCDRParser/bin/Release/System.Composition.Convention.dll
/svcCallManagerCDRParser/bin/Release/System.Composition.Hosting.dll
/svcCallManagerCDRParser/bin/Release/System.Composition.Runtime.dll
/svcCallManagerCDRParser/bin/Release/System.Composition.TypedParts.dll
/svcCallManagerCDRParser/bin/Release/System.Console.dll
/svcCallManagerCDRParser/bin/Release/System.Data.Common.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.Contracts.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.Debug.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.FileVersionInfo.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.Process.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.StackTrace.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.TextWriterTraceListener.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.Tools.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.TraceSource.dll
/svcCallManagerCDRParser/bin/Release/System.Diagnostics.Tracing.dll
/svcCallManagerCDRParser/bin/Release/System.Drawing.Primitives.dll
/svcCallManagerCDRParser/bin/Release/System.Dynamic.Runtime.dll
/svcCallManagerCDRParser/bin/Release/System.Globalization.Calendars.dll
/svcCallManagerCDRParser/bin/Release/System.Globalization.Extensions.dll
/svcCallManagerCDRParser/bin/Release/System.Globalization.dll
/svcCallManagerCDRParser/bin/Release/System.IO.Compression.ZipFile.dll
/svcCallManagerCDRParser/bin/Release/System.IO.Compression.dll
/svcCallManagerCDRParser/bin/Release/System.IO.FileSystem.DriveInfo.dll
/svcCallManagerCDRParser/bin/Release/System.IO.FileSystem.Primitives.dll
/svcCallManagerCDRParser/bin/Release/System.IO.FileSystem.Watcher.dll
/svcCallManagerCDRParser/bin/Release/System.IO.FileSystem.dll
/svcCallManagerCDRParser/bin/Release/System.IO.IsolatedStorage.dll
/svcCallManagerCDRParser/bin/Release/System.IO.MemoryMappedFiles.dll
/svcCallManagerCDRParser/bin/Release/System.IO.Pipes.dll
/svcCallManagerCDRParser/bin/Release/System.IO.UnmanagedMemoryStream.dll
/svcCallManagerCDRParser/bin/Release/System.IO.dll
/svcCallManagerCDRParser/bin/Release/System.Linq.Expressions.dll
/svcCallManagerCDRParser/bin/Release/System.Linq.Parallel.dll
/svcCallManagerCDRParser/bin/Release/System.Linq.Queryable.dll
/svcCallManagerCDRParser/bin/Release/System.Linq.dll
/svcCallManagerCDRParser/bin/Release/System.Net.Http.dll
/svcCallManagerCDRParser/bin/Release/System.Net.NameResolution.dll
/svcCallManagerCDRParser/bin/Release/System.Net.NetworkInformation.dll
/svcCallManagerCDRParser/bin/Release/System.Net.Ping.dll
/svcCallManagerCDRParser/bin/Release/System.Net.Primitives.dll
/svcCallManagerCDRParser/bin/Release/System.Net.Requests.dll
/svcCallManagerCDRParser/bin/Release/System.Net.Security.dll
/svcCallManagerCDRParser/bin/Release/System.Net.Sockets.dll
/svcCallManagerCDRParser/bin/Release/System.Net.WebHeaderCollection.dll
/svcCallManagerCDRParser/bin/Release/System.Net.WebSockets.Client.dll
/svcCallManagerCDRParser/bin/Release/System.Net.WebSockets.dll
/svcCallManagerCDRParser/bin/Release/System.ObjectModel.dll
/svcCallManagerCDRParser/bin/Release/System.Reflection.Extensions.dll
/svcCallManagerCDRParser/bin/Release/System.Reflection.Metadata.dll
/svcCallManagerCDRParser/bin/Release/System.Reflection.Primitives.dll
/svcCallManagerCDRParser/bin/Release/System.Reflection.dll
/svcCallManagerCDRParser/bin/Release/System.Resources.Reader.dll
/svcCallManagerCDRParser/bin/Release/System.Resources.ResourceManager.dll
/svcCallManagerCDRParser/bin/Release/System.Resources.Writer.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.CompilerServices.VisualC.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.Extensions.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.Handles.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.InteropServices.RuntimeInformation.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.InteropServices.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.Numerics.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.Serialization.Formatters.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.Serialization.Json.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.Serialization.Primitives.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.Serialization.Xml.dll
/svcCallManagerCDRParser/bin/Release/System.Runtime.dll
/svcCallManagerCDRParser/bin/Release/System.Security.Claims.dll
/svcCallManagerCDRParser/bin/Release/System.Security.Cryptography.Algorithms.dll
/svcCallManagerCDRParser/bin/Release/System.Security.Cryptography.Csp.dll
/svcCallManagerCDRParser/bin/Release/System.Security.Cryptography.Encoding.dll
/svcCallManagerCDRParser/bin/Release/System.Security.Cryptography.Primitives.dll
/svcCallManagerCDRParser/bin/Release/System.Security.Cryptography.X509Certificates.dll
/svcCallManagerCDRParser/bin/Release/System.Security.Principal.dll
/svcCallManagerCDRParser/bin/Release/System.Security.SecureString.dll
/svcCallManagerCDRParser/bin/Release/System.Text.Encoding.CodePages.dll
/svcCallManagerCDRParser/bin/Release/System.Text.Encoding.Extensions.dll
/svcCallManagerCDRParser/bin/Release/System.Text.Encoding.dll
/svcCallManagerCDRParser/bin/Release/System.Text.RegularExpressions.dll
/svcCallManagerCDRParser/bin/Release/System.Threading.Overlapped.dll
/svcCallManagerCDRParser/bin/Release/System.Threading.Tasks.Parallel.dll
/svcCallManagerCDRParser/bin/Release/System.Threading.Tasks.dll
/svcCallManagerCDRParser/bin/Release/System.Threading.Thread.dll
/svcCallManagerCDRParser/bin/Release/System.Threading.ThreadPool.dll
/svcCallManagerCDRParser/bin/Release/System.Threading.Timer.dll
/svcCallManagerCDRParser/bin/Release/System.Threading.dll
/svcCallManagerCDRParser/bin/Release/System.ValueTuple.dll
/svcCallManagerCDRParser/bin/Release/System.Xml.ReaderWriter.dll
/svcCallManagerCDRParser/bin/Release/System.Xml.XDocument.dll
/svcCallManagerCDRParser/bin/Release/System.Xml.XPath.XDocument.dll
/svcCallManagerCDRParser/bin/Release/System.Xml.XPath.dll
/svcCallManagerCDRParser/bin/Release/System.Xml.XmlDocument.dll
/svcCallManagerCDRParser/bin/Release/System.Xml.XmlSerializer.dll
/svcCallManagerCDRParser/bin/Release/dotnet-aspnet-codegenerator-design.exe
/svcCallManagerCDRParser/bin/Release/netstandard.dll
/svcCallManagerCDRParser/obj/Release/svcCallManagerCDRParser.exe.config
